.dice {
    text-align: center;
    font-size: 3rem;
    margin: 2px
}

.player1 {
    background-color: aqua;
    text-align: center;
    width: 50%;
    height: 100%;
}

.player2 {
    background-color: red;
    text-align: center;
    width: 50%;
    height: 100%;
}

.players {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%; ;
    /* justify-content: space-evenly; */
}